/* styles.css */

/* Main container styles */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

/* Task form styles */
form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="date"] {
  padding: 5px;
  margin: 5px;
  width: 150px;
}

input[type="text"] {
    width: 250px;
}

button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  color: black;
}

button#addTask {
  background-color: blue;
}

#sortTasks {
  background-color: #778899;
}

/* Task list styles */
.task-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
}

/* Task item styles */
.task-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item p {
  margin: 0;
  font-size: 14px;
  color: #999;
}

.task-item span {
  font-size: 20px;
  font-weight: bold;
}

.task-item button.edit {
  background-color: skyblue;
}

.task-item button.delete {
  background-color: red;
}

.task-item button.save {
  background-color: green;
}

.task-item input {
  margin: 0px;
  padding: 0px;
}

/* Edit mode styles */
.task-item.editing {
  background-color: #f5f5f5;
}

/* Task filter styles */
form select {
  padding: 5px;
  margin-right: 10px;
}

/* Drag-and-drop styles */
.task-list {
  min-height: 100px;
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
}

.draggable-item {
  background-color: #fff;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
